<ion-header [translucent]="true" class="">
  <ion-toolbar class="">
    <ion-buttons slot="start">
      <ion-menu-button class=""></ion-menu-button>
    </ion-buttons>
    <ion-title class="">Paises</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-searchbar debounce="500" (input)="filterCountries($event)"></ion-searchbar>
  <ion-card *ngFor="let country of filteredCountries.length > 0 ? filteredCountries : countries">
    <ion-card-header>
      <ion-card-title>{{ country.name.common }}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p><strong>Capital:</strong> {{ country.capital }}</p>
      <p><strong>Población:</strong> {{ country.population }}</p>
      <p><strong>Región:</strong> {{ country.region }}</p>
      <p><strong>Fronteras con otros países:</strong>
        <ng-container *ngFor="let border of country.borders; let last = last">
          {{ border }}
          <span *ngIf="!last">, </span>
        </ng-container>
      </p>
      <p><strong>Idiomas:</strong>
        <ng-container *ngFor="let language of getLanguages(country.languages)">
          {{ language }} ({{ country.languages[language] }})
          <span *ngIf="!isLast(language, country.languages)">, </span>
        </ng-container>
      </p>
    </ion-card-content>
  </ion-card>
</ion-content>
