main{
    padding: 10px;
    margin-top: auto;
    background-image: url('../../../../assets/img/fondod2.jpg');
    color: white;
}
.card{
    background-color: rgba(0, 0, 0, 0.563);
    color: white;
}