.fondoc{
    --background: url('../../../assets/img/fondocatalogo.jpg') no-repeat center center / cover;
  }
  ion-card{
    --background: rgba(255, 255, 255, 0.608);
    color: black;
    padding: 0px;
  }
  .negro{
    color:black
  }
  ion-item{
    --background: transparent;
  }
  ion-button{
    width: 80%;
  }