<ion-content [fullscreen]="true" class="fondo1 ion-padding">
  <br>
  <section class="ion-padding">
    <article class="ion-padding">
      <h1 class="blanco ion-text-center titulo">GAMEDOJS</h1>
      <p class="blanco ion-text-center">Lo mejor en JUEGOS!</p>
    </article>
    <nav>
      <ion-item>
        <ion-label position="floating" class="blanco">Correo Electronico</ion-label>
        <ion-input class="blanco" [(ngModel)]="credenciales.correo" ></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating" class="blanco">Password</ion-label>
        <ion-input class="blanco" type="Password" [(ngModel)]="credenciales.password" ></ion-input>
      </ion-item>
    </nav>
    <ion-button  expand="block" class="ion-margin-top" (click)="logeando()" >Ingresar</ion-button>
    <p class="blanco ion-text-center" >No tienes cuenta registrada?<a href="/register">Registrarse</a></p>
  </section>
</ion-content>
