<ion-app>
  <ion-split-pane contentId="main-content">
    <ion-menu contentId="main-content" type="overlay">
      <ion-content>
        <ion-list id="inbox-list">
          <section class="ion-align-items-center">
            <ion-list-header class="ion-text-center">GAMEDOJS</ion-list-header>
            <a href="/carrito">
              <ion-item>
                <ion-icon name="cart-outline"></ion-icon>
                <ion-badge slot="end">{{ itemsCarrito.length }}</ion-badge>
              </ion-item>
              </a>
          </section>

          <ion-menu-toggle  class="ion-padding" auto-hide="false" *ngFor="let p of appPages; let i = index">
            <ion-item routerDirection="root" [routerLink]="[p.url]" lines="none" detail="false" routerLinkActive="selected">
              <ion-icon aria-hidden="true" slot="start" [ios]="p.icon + '-outline'" [md]="p.icon + '-sharp'"></ion-icon>
              <ion-label>{{ p.title }}</ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>
        <ion-menu-toggle *ngIf="login == false">
          <ion-list>
            <ion-button [routerLink]="['/login']">
              Iniciar Sesion
            </ion-button>
          </ion-list>
        </ion-menu-toggle>

        <ion-menu-toggle *ngIf="login && rol == 'Admin' ">
          <ion-list id="labels-list">
            <ion-list-header>Administrador</ion-list-header>
  
            <ion-item  lines="none">
              <ion-icon aria-hidden="true" slot="start" ios="bookmark-outline" md="bookmark-sharp"></ion-icon>
              <ion-button color="danger" [routerLink]="['/listar-juegos']">Productos</ion-button>
            </ion-item>
          </ion-list>
        </ion-menu-toggle>
        
        <ion-menu-toggle  *ngIf="login ">
          <ion-list>
            <ion-button [routerLink]="['/perfil']">
              <ion-icon name="person"></ion-icon> Perfil
            </ion-button>
          </ion-list>
        </ion-menu-toggle>
        <ion-menu-toggle *ngIf="login">
          <ion-list>
            <ion-button (click)="cerrar()">
              Cerrar sesion
            </ion-button>
          </ion-list>
        </ion-menu-toggle>
      </ion-content>
    </ion-menu>
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
</ion-app>
