<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true" class="fondo1 ion-padding">
  <br>
  <section class="ion-padding">
    <article class="ion-padding">
      <h3 class="blanco ion-text-center ">Agregar Juego</h3>
    </article>
    <nav>
        <ion-item>
          <ion-label position="floating" class="blanco">Nombre Juego</ion-label>
          <ion-input class="blanco"  name="name" required [(ngModel)]="juegos.nombre" ></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating" class="blanco">Precio Juego</ion-label>
          <ion-input class="blanco"  name="number" type="number" [(ngModel)]="juegos.precio"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating" class="blanco">Stock</ion-label>
          <ion-input class="blanco"  name="number" type="number" [(ngModel)]="juegos.stock"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating" class="blanco">Descripcion</ion-label>
          <ion-input class="blanco"  name="text" type="text" required [(ngModel)]="juegos.descripcion"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating" class="blanco">Plataforma</ion-label>
          <ion-input class="blanco"  type="text" required [(ngModel)]="juegos.plataforma" ></ion-input>
        </ion-item>
        <ion-item>
          <ion-label class="normal">Foto:</ion-label>
          <ion-buttons slot="end">
            <ion-button>
              <label for="file-upload">
                <ion-icon slot="icon-only" name="images"></ion-icon>
              </label>
              <input (change)="newImageUpload($event)" id="file-upload" style="display: none" type="file" accept="image/*">
            </ion-button>
          </ion-buttons>
        </ion-item>
        <ion-item>
          <img class="image" [src]="juegos.imagen">
        </ion-item>


        <ion-button expand="block" class="ion-margin-top"  type="submit" (click)="agregarJuego()">Agregar Juego</ion-button>
    </nav>
  </section>
  <ion-grid>
    <ion-row>
      <ion-button [routerLink]="['/listar-juegos']">Volver</ion-button>
    </ion-row>
  </ion-grid>
</ion-content>

